.snakemake/
alignment/
Annotated/
bedgraphs/
data/
filtered/
GTFs/
matrix/
multiqc_data/
mySQL_logs/
noDups/
results/
RNA_Edits/
tmp/
trimming/
Utils/
CDS_5_3.bed
CDS_5_3.gtf
fullGTF.bed
multiqc_report.html

